.canvasItem {
  display: block;

  border-radius: 8px;
  border: 1px solid black;
  overflow: hidden;
  background: white;

  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.15s ease;
}

.canvasItem:hover {
  transform: scale(1.02);
}

.linkArea {
  text-decoration: none;
  color: inherit;
}

.canvasItem img {
  width: 100%;
  aspect-ratio: 1 / 1;
}

.metaData {
  /* border: 1px solid lightskyblue; */
  background-color: rgb(232, 249, 255);

  padding: 1rem;
}

.metaData h2 {
  font-size: 1.125rem;
}

.title {
  display: flex;

  border: 1px solid red;
  gap: 0.2rem;
}

.inputTitle {
  font-size: 1.125rem;
  font-weight: 900;
}
