.canvasItem {
  display: block;
  text-decoration: none;
  color: inherit;

  border-radius: 8px;
  border: 1px solid black;
  overflow: hidden;
  background: white;

  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.15s ease;
}

.canvasItem:hover {
  transform: scale(1.02);
}

.canvasItem img {
  width: 380px;
  aspect-ratio: 1 / 1;
}

.metaData {
  /* border: 1px solid lightskyblue; */
  background-color: rgb(232, 249, 255);

  padding: 1rem;
}
