VITE_GOOGLE_CLIENT_ID=

# Setting Up Google OAuth Authentication

# To use Google Sign-In, you need to generate a client ID from the Google Cloud Console:

# 1. Go to the [Google Cloud Console](https://google.com).
# 2. Create a Project: Click the project dropdown in the top left, select New Project, name it, and click Create.
# 3. Configure OAuth Consent Screen:
#     Go to APIs & Services > OAuth consent screen.
#     Select External user type and click Create.
#     Fill out the mandatory app details (App Name, User Support Email, Developer Contact Info) and click Save and Continue through the remaining steps.
# 4. Create Credentials:
#     Go to APIs & Services > Credentials.
#     Click + Create Credentials at the top and select OAuth client ID.
#     Choose Web application as the Application Type.
# 5. Configure Redirect URIs:
#     Under Authorized JavaScript origins, add URL `http://localhost:5173`.
#     Under Authorized redirect URIs, add your backend endpoint `http://localhost:3000/dashboard`
# 6. Click Create to generate your keys. 
# 7. Copy the Client ID and paste it in here as VITE_GOOGLE_CLIENT_ID's value.