DATABASE_URL="postgresql://postgres:postgres@localhost:5432/sketch_db"

CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

GOOGLE_CLIENT_ID=

JWT_ACCESS_TOKEN=
JWT_REFRESH_TOKEN=

NODE_ENV="development"

FRONTEND_URL=